<h1>Yamada Shota</h1>
<p>山田 祥太</p>
<h1>Profile</h1>
<h2>BirthDay</h2>
<p>1995/04/02 <%= @age %>歳 </p>
<h2>Address</h2>
<p>大阪府大阪市</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104994.82763642745!2d135.41599775055207!3d34.67771924193618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6553406e2e1%3A0xc55bc16ee46a2fe7!2z5aSn6Ziq5bqc5aSn6Ziq5biC!5e0!3m2!1sja!2sjp!4v1660459835868!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<h2>Birthplace</h2>
<p>愛知県愛西市</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104359.03059302618!2d136.7223707!3d35.1760762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600398eee9b10eaf%3A0x562a50086d0f2d70!2z5oSb55-l55yM5oSb6KW_5biC!5e0!3m2!1sja!2sjp!4v1660458331110!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<h2>GitHub</h2>
<%= link_to 'https://github.com/syota0402', "https://github.com/syota0402", target: :_blank, rel: "noopener noreferrer" %>
<h2>Instagram</h2>
<%= link_to '04lol02','https://www.instagram.com/04lol02/', target: :_blank, rel: "noopener noreferrer" %>
<h2>Enjoy</h2>
<p>カフェ巡り、美術館にて美術鑑賞、読書、ゲーム、Barでお酒を嗜む、テニス(稀)</p>
<h2>Like</h2>
<p>梨、コーヒー、ONEPEACE、K-POP</p>
<h2>Weak</h2>
<p>パクチー、クーラーの効きすぎた部屋</p>
<h2>Job</h2>
<p>医療系システムの開発</p>
<h2>Boast</h2>
<p>テニスを14年続けていた。高身長。</p>
<h2>Wonts</h2>
<p>ハスキー犬を飼う</p>